# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
logs/*.log

# Python virtual environment
venv/
*.pyc
__pycache__/

# IDE/Editor directories and files
.vscode/
.idea/
.DS_Store

# React build output
/build
/dist

# Test coverage
/coverage

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous files
*.swp
*.swo
*.tmp
*.bak
Thumbs.db

# Parcel cache
.cache/

# Static build files
.out/
.next/

# Backend specific files
backend/node_modules/
backend/.env

# Frontend specific files
app/node_modules/
app/.env
app/.pnp
app.pnp.js
app/.env

# Ignore compiled stylesheets (if using Sass/SCSS)
/public/**/*.css.map

# Ignore lock files that may vary by environment
app/package-lock.json
backend/package-lock.json

# Ignore executable files
powershell
